
<!-- 	<head>
		<title>DirectMe</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/css/wstyles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>       
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<script src="../static/css/directme.js"></script> 

		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

		<script>
		$(document).ready(function() {
			$('#send_text').submit(function() {

				// Your Twilio credentials
				var SID = "{{SID}}"
				var Key = "{{Key}}"


				var yelpName = "{{yelpName}}"
				var yelpAddress = "{{address}}"
				var myName = "{{myName}}"


				$.ajax({
					type: 'POST',
					url: 'https://api.twilio.com/2010-04-01/Accounts/' + SID + '/Messages.json',
					data: {
						"To" : "+15108211109",
						"From" : "+15108769419",
						"Body" : "Hey " + myName + "! Let's go to " + yelpName + "! The address is " + yelpAddress + ". @DirectMe"
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader ("Authorization", "Basic " + btoa(SID + ':' + Key));
					},
					success: function(data) {
						console.log(data);
					},
					error: function(data) {
						console.log(data);
					}
				});

				return false;
			});
		})

		</script>


		</head>
				  
<body> -->

	<div id='header'>
		<div class='weather'>
			<h4><b>{{ temp }}°F</b></h4>
			<h6>{{ weather }}</h6>
			<form>
				<input id='logout_button' class="waves-effect waves-light btn" type="submit" ng-click="logout()" value="Logout">
			</form>
		</div>
		<div class='logo'>
			<img class='direct' src="http://i.imgur.com/n26eoj9.png">
		</div>
<!-- 		<div class='weather'>
			<p>This is where the weather icon would be</p>
		</div> -->
	</div>

	<div class="container"><center>
		<div class="row">
			<div class='map col s6 m6 l6'> 
				<iframe
				width=100%
				height=100%
				frameborder="0" style="border:0"
				src="{{gmurl}}" allowfullscreen>
				</iframe>
			</div>

			<!-- <div class="container"><center>
				<div class="row"> 
					<div class='map'> Put Google Map here</div>
					<div class='info'>Today is a perfect day to: </div>
					<br><br>
					<a class="waves-effect waves-light btn">Text me the info</a>
					<a class="waves-effect waves-light btn">Text my friends</a>
					<a class="waves-effect waves-light btn">DirectMe again</a>
					<br>
					</center>
				</div>
			</div>
 -->



			<div class='info col s6 m6 l6'> 
				<br>
				<h5><b>Today is the perfect day to go to: </b></h5>
				<br><br>
				<h5 class="result">Destination: {{ name }}</h5>
				<h5 class="result">Type: {{type}}</h5>
				<h5 class="result">Rating: {{rating}}/5.0</h5>
				<h5 class="result">Price: {{ price }}</h5>
				<h5 class="result"><a href='{{website}}'>Yelp Page</a></h5>
				<div class="buttons">
					<form id='send_text' method='POST'>
						<input class="waves-effect waves-light btn" type='submit' value='Text me the info'>
					</form><br>
					<form action='/random_choice2' method='POST'>
						<input class="waves-effect waves-light btn" type="submit" value="DirectMe Again">
					</form>
					<br>
				</div>
			</div>
		</center>
		</div>
	</div>






</body>
